//@use '@/assets/styles/mixins.scss';
//@use '@/assets/styles/fonts.scss';
@use '@/assets/styles/settings.scss';
@use '@/assets/styles/tailwind.scss';
@use "@/assets/styles/components/ui/app-form.scss";
@use "@/assets/styles/components/ui/app-tab.scss";
@use "@/assets/styles/components/ui/app-switch.scss";
@use "@/assets/styles/components/ui/app-checkbox.scss";


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark span,
.dark p,
.dark a {
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b7b9ba #f1f1f1;
}

.formItem {
  height: auto;
  padding: 8px 16px;
  background: #FAFAFA;
  border-radius: 24px;
  max-height: 76px;
}

